<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="theme-color" content="#f8f5ec" />
    <meta
      name="description"
      content="A little daily practice. A home for your everyday food moments."
    />
    <.live_title default="Open Track" suffix=" · Your everyday food journal">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>{@inner_content}</body>
</html>
